body{
	font-family: 'PT Sans Narrow', sans-serif;
}
.coffeeflow{
	background: #ccc; height:340px; overflow: hidden;
	padding: 40px 0;
	/* margin: 0 280px;*/

	/* reflections bugfix */
	padding-bottom: 340px; margin-bottom: -340px;
}

.log{
	width:65%; margin: 30px auto;
	border-top: 1px solid #dadada; 
}

.log p{
	border-bottom: 1px solid #dadada;
	margin: 0; padding: 0;
}