body{
	font-family: 'PT Sans Narrow', sans-serif;
}
.coffeeflow{
	background: #ccc; height:340px;
	overflow: hidden;
	//width: 600px;
	margin: 0 auto;

	/* reflections bugfix */
}

.log{
	width:65%; margin: 30px auto;
	border-top: 1px solid #dadada; 
}

.log p{
	border-bottom: 1px solid #dadada;
	margin: 0; padding: 0;
}