@import "compass";

@mixin animate($duration: .3s, $property: all, $easing: ease-out){
	@include transition-duration($duration);
	@include transition-property($property);
	@include transition-timing-function($easing);
}

.coffeeflowCanvas.ready{
	.coffeeflowItem {
		@include animate(.5s, transform left, cubic-bezier(0.165, 0.840, 0.440, 1.000) );
		@include create-transform(
			500,		// perspective : 500 or 1000
			1,		// scale-x
			1,		// scale-y
			1,		// scale-z
			false,		// rotate-x : 45deg
			0deg
		);
	}
}
.coffeeflowCanvas{
	position: relative; height:100%; 
	.coffeeflowItem {
		position: absolute;
		display: block; text-align: center; background: none;
		img{
			max-height:100%; max-width: 100%;
			border: 2px solid rgba(#fff, .3);
			position: absolute; bottom:0;
			@include animate(.2s, all, cubic-bezier(0.165, 0.840, 0.440, 1.000) );
		}
	}
	.coffeeflowItem:hover{
		img{
			border-color: rgba(#00afff, .9);
		}
	}
	.coffeeflowItem.current{
		img{}
	}
	.coffeeflowItem.selected{
		img{
			border-color: rgba(#fbd206, .9);
		}
	}
	.coffeeflowItem.before{
		@include create-transform(
			500px,		// perspective : 500 or 1000
			.70,		// scale-x
			.70,		// scale-y
			.70,		// scale-z
			false,		// rotate-x : 45deg
			45deg
		);
		img{left: 0;}
	}
	.coffeeflowItem.after{
		@include create-transform(
			500px,		// perspective : 500 or 1000
			.70,		// scale-x
			.70,		// scale-y
			.70,		// scale-z
			false,		// rotate-x : 45deg
			-45deg
		);
		img{right: 0;}
	}
	.coffeeflowItem.before:hover, .coffeeflowItem.after:hover{
		img{ @include scale(1.1);}
	}
}